body{
    background-color: #589ED9;
    font-family: 'open sans' , sans-serif;
}

#container{
    width:250px;
    height:auto;
    margin: 0 auto;
    margin-top: 130px;
    text-align:center;
}

#header .logo .fa-weibo{
    color: white;
    font-size:50px;
}

#header h1{
    font-size:32px;
    color:white;
}
#loginform .containerfield{
    background-color:white;
    border-radius:10px;
}
#loginform .containerfield input{
    width:100%;
    border:none;
    font-size:15px;
    padding:0px;
    margin:0px;
    outline:none;
    padding-top:18px;
    padding-bottom:18px;
    text-indent:20px;
    border-radius:10px;
}

#loginform .containerfield input[type="password"]{
    border:1px solid #ccc;
    border-radius:0px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
   -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#loginform input[type="submit"]{
    font-family:'open sarif' , sans-serif;
    display:block;
    width:100%;
    border:none;
    background-color:#2186D4;
    font-size:20px;
    font-weight:bold;
    color:white;
    margin-top:10px;
    padding:14px 0px;
    border-radius:6px;
}
#loginform input[type="submit"]:hover{
    background-color:#0B6AB4;
    cursor:pointer;
}
#footer p{
    color:white;
    font-size:12px
}
#footer p a{
    color:white;
    text-decoration: none;
    font-weight:bold;
}